include README.md
include LICENSE
include AUTHORS
include requirements.txt
recursive-include dexplorer *.py
recursive-include dexplorer/static/*/ *
recursive-include dexplorer/templates *
recursive-include tests *.py
